{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block contents %}
<section class="content-section">
    <div class="container">
        <h1>Sign up</h1>
        <div class="row">
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button class="btn btn-primary" type="submit" disabled>登録</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}