{% extends 'base.html' %}
<!-- base.htmlにblockタグを埋め込むためのextends -->

{% load static %}
<!-- staticファイルの場所を記述 -->

{% block title %}MyPortfolio{% endblock %}

{% block contents %}
<!-- top -->
<section class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">My Portfolio</h1>
        <h3 class="mb-5">
            <em>日記管理サービスを作成しました！</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">この作品について</a>
        <a class="btn btn-primary btn-xl" href="{% url 'account_login' %}">日記サイトへGO</a>
    </div>
    <div class="overlay"></div>
</section>

<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>この作品について</h2>
                <h3>Web上で記事の作成・編集・削除ができる日記管理サービスを作成しました</h3>
                <p class="lead mb-5">フロントエンドのHTML/CSS/JSのベースは
                    <a href="https://startbootstrap.com/">Start Bootstrap</a>を使用しています</p>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">機能一覧</a>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">機能一覧</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-star"></i>
                </span>
                <h4>
                    <strong>日記機能</strong>
                </h4>
                <p class="text-faded mb-0">投稿 / 編集 / 削除<br>詳細表示<br>一覧表示(ページネーション)</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-diamond"></i>
                </span>
                <h4>
                    <strong>会員機能</strong>
                </h4>
                <p class="text-faded mb-0">管理ユーザーの<br>サインアップ / ログイン</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-ghost"></i>
                </span>
                <h4>
                    <strong>画像ファイル</strong>
                </h4>
                <p class="text-faded mb-0">アップロード機能</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-mustache"></i>
                </span>
                <h4>
                    <strong>問合せ機能</strong>
                </h4>
                <p class="text-faded mb-0">問合せ機能</p>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="content-section bg-primary text-white">
    <div class="container text-center">
        <h2 class="mb-4">以下のボタンをクリックして使用技術を確認してください</h2>
        <a href="#technology" class="btn btn-xl btn-dark js-scroll-trigger">技術 / サービス</a>
    </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="technology">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Technology</h3>
            <h2 class="mb-5">技術 / サービス</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://www.python.jp/index.html">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Python</div>
                            <p class="mb-0">
                                Python 3.7.6<br>
                                Django 2.2.2<br>
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://www.postgresql.jp/">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">PostgreSQL</div>
                            <p class="mb-0">PostgreSQL 10.4</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'img/2.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://aws.amazon.com/jp/">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">AWS</div>
                            <p class="mb-0">VPC, EC2, S3, RDS, Route53, ACM, ELB
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'img/3.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://www.docker.com/">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Docker</div>
                            <p class="mb-0">（勉強中）</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'img/4.jpg' %}" alt="">
                </a>
            </div>
            <div class="container text-center">
                <br>
                <a class="btn btn-primary btn-xl" href="{% url 'account_login' %}">日記サイトへGO</a>
            </div>
        </div>
    </div>
</section>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% endblock %}