{% extends 'base.html' %}
{% block title %}お問い合わせ{% endblock %}

{% block contents %}
<section class="content-section">
    <div class="container">
        <h1>Inquiry</h1>
        <div class="row">
            <form method="post">
                <!-- self.cleaned_data　に格納される -->
                {% csrf_token %}
                {{ form.non_field_error }}
                <!-- 特定のフィールドに紐づかないエラーを表示 -->
                {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">
                        <strong>{{ field.label_tag }}</strong>
                    </label>
                    <div class="col-sm-8">
                        {{ field }}
                        {{ field.errors }}
                        <!-- フィールド単位のエラーを表示 -->
                    </div>
                </div>
                {% endfor %}

                <div class="offset-sm-4 col-ms-8">
                    <button class="btn btn-primary" type="submit" disabled>送信</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}